@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body{
  font-family: 'Poppins';
  background:url('./assets/deer_art.jpg');
  background-size: cover;
  
}

.container {
  background-color:white ;
  text-align: center;
  max-width: 430px !important;
  height: 325px;
  border: 2px solid rgb(240, 191, 250);
  margin: 15%;
  border-radius: 48px;

}

